.sidebar {
    width: 250px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #f8f8f8;
    position: fixed;
  }
  
  .sidebar .logo {
    background: #f9f6f6;
    padding: 3px 3px;
  }
  
  .sidebar .logo img {
    height: 250px;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    cursor: pointer;
  }
  