.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(22% - 25px);
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img.course-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.add-to-cart {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #0056b3;
}
