body{
    /* display: flex; */
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 280px;
    background-color: #f8f9fa;
    transition: all 0.3s;
}

.collapsed {
    margin-left: 250px; 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-center {
    text-align: center;
    flex-grow: 1;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-center img {
    margin-right: 10px;
}



.header-center .logo{
    margin-left: 20px;
}

.carousel{
    margin: 30px;
}
.carousel-item{
    height: 450px;
    width: 1600px;
}